* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

:root {
    --Dark-stale-blue: #483D8B;
    --White: #FFF;
    --Cornflower-blue: #6495ED;
    --Steel-blue: #4682B4;
    --Light-sk-blue: #87CEFA;
}

header {
    background-color: var(--Dark-stale-blue);
    height: 8rem;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

img {
    width: 30rem;
    height: 20rem;
    padding: 2rem;
}

.primeira {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--Steel-blue);
}

.segunda {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: var(--Cornflower-blue);
    justify-content: space-between;
}

.terceira {
    display: flex;
    width: 20rem;
    height: 30rem;
    flex-direction: column;
    padding: 2rem;
}






 
