* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

:root {
    --Dark-stale-blue: #483D8B;
    --White: #FFF;
    --Cornflower-blue: #6495ED;
    --Steel-blue: #4682B4;
}

header {
    background-color: var(--Dark-stale-blue);
    height: 8rem;
    display: flex;
    justify-content: center;
}

img {
    width: 30rem;
    height: 20rem;
}

.primeira {
    display: flex;
    gap: 1rem;
    padding: 3rem;
}

.segunda {
    display: flex;
    align-items: center;
    padding: 3rem;

}

p {
    padding: 2rem;

}





 
